/* src/app/globals.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --font-main: "Poppins", sans-serif;

  --color-primary: #4caf50;
  --color-primary-dark: #45a049;
  --color-secondary: #f4f4f4;
  --color-background: #ffffff;
  --color-text: #333333;
  --color-text-light: #555555;
  --color-border: #dddddd;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--color-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  color: var(--color-primary);
  margin-bottom: 0.5em;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 95%;
  }
}
