/* src/app/Layout.module.css */
.appContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Para cuando el sidebar está visible */
.contentArea {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

/* NUEVO: Para cuando el sidebar está oculto (pantalla completa) */
.contentAreaFull {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
}

/* En pantallas grandes */
@media (min-width: 769px) {
  /* Aplicamos el margen solo al contentArea normal */
  .contentArea {
    margin-left: 250px;
    padding-top: 0;
  }

  .contentAreaFull {
    padding: 2rem; /* Añade un poco de espacio en pantallas grandes sin sidebar */
  }
}
