/* src/app/Layout.module.css */
.appContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.contentArea {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.contentAreaFull {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .contentArea {
    margin-left: 250px;
    padding-top: 0;
  }

  .contentAreaFull {
    padding: 2rem;
  }
}
